nav {
  height: 96px;
  display: flex;
  align-items: center;
  padding-inline: var(--padding);
}

p {
  font-family: var(--title-font);
  font-size: 24px;
}

a {
  color: unset;
  text-decoration: none;
  box-shadow: none;
}

.logo {
  font-family: 'Signature', sans-serif;
  position: relative;
}

.logo::before {
  content: attr(data-text);
  position: absolute;
  z-index: 1;
  pointer-events: none;
  width: 0%;
  color: var(--accent);
  transition: width 400ms normal;
  overflow: hidden;
}

.logo:hover::before {
  width: 130%;
}