<section *ngIf="!loading && article && heading">
  <header>
    <h1>{{heading.title}}</h1>
    <h2>{{heading.subtitle}}</h2>
    <app-thumbnail [big]="true" [summary]="true"></app-thumbnail>
  </header>
  <article markdown [data]="article">
  </article>
  <nav>
    <div role="group">
      <p role="heading">Tabla de contenidos</p>
      <div role="list">
        <p role="listitem" *ngFor="let item of getHeadings()" (click)="handleScrollIntoView(item)">{{item.innerText}}
        </p>
      </div>
    </div>
  </nav>
  <footer>
    <h2>Publicado el {{getDate()}}</h2>
    <div class="tags">
      <a *ngFor="let tag of heading?.tags" routerLink="/blog" [queryParams]="{tags: tag}" class="secondary">#{{tag}}</a>
    </div>
    <a routerLink="/blog">Volver</a>
  </footer>

  <section *ngIf="!loading && !article">
    <header>
      <h1>No se ha encontrado el artículo :(</h1>
    </header>
  </section>
</section>

<section *ngIf="loading && !article">
  <header>
    <h1><i>Obteniendo artículo</i></h1>
  </header>
</section>