section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--padding);
}

header,
article {
  padding-inline: var(--padding);
}

h2,
h3,
h4 {
  font-family: var(--body-font);
}

h1,
h3 {
  font-size: var(--size-text);
}

i {
  opacity: 0.8;
}

article img,
article video {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
}

header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: subgrid;

  h1,
  h2 {
    grid-column: 1 / -1;
    position: relative;
    z-index: 1;
  }

  h2 {
    margin-block: 0 1.5em;
    font-size: var(--size-h3);
  }
}

app-thumbnail {
  grid-column: 2 / 9;
  width: 100%;
}
}

article {
  grid-column: 2 / 9;


  h2 {
    margin-block: 1em 1.5em;
    padding-block-start: 0.5em;
  }

}

p,
li {
  font-family: var(--body-font);
  font-size: var(--size-text-s);
  line-height: 1.4;
}

h1 {
  font-family: var(--title-font);
}

code {
  background-color: #313131;
  border: 1px solid #222222;
  padding: 1px 6px;
  border-radius: 4px;
  font-size: var(--body-font);
  font-size: var(--size-text-s);
}

nav {
  position: relative;
  grid-column: 10 / 12;

  [role=group] {
    position: sticky;
    top: 90px;
    height: auto;
  }

  [role=heading] {
    font-family: var(--title-font);
    font-size: 18px;
  }

  [role=listitem] {
    cursor: pointer;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}

footer {
  h2 {
    margin-block-end: 4px;
  }

  grid-column: 2 / 9;

  .tags {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-block-end: 16px;
  }

  >a {
    margin-block-start: 32px;
    display: block;
    width: fit-content;
  }
}

blockquote {
  border: 1px solid #592d00;
  margin: 0;
  padding: 16px;
  border-radius: 5px;
  background: #7f4d0047;
}

pre {
  background-color: hsl(174, 8%, 25%) !important;
  padding: 16px;
  padding-block-start: 32px !important;
  border-radius: 16px;
  position: relative;

  &::after,
  &::before,
  & code::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    top: 8px;
    width: 12px;
    height: 12px;
  }

  &::after {
    left: 16px;
    background-color: #ff5f56;
  }

  &::before {
    left: 34px;
    background-color: #ffbd2e;
  }

  & code::after {
    left: 52px;
    background-color: #27c93f;
  }

  code {
    background-color: unset;
    border: none;
    padding: 0;
  }
}

app-thumbnail {
  aspect-ratio: 728 / 300;
  ;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  header app-thumbnail,
  article,
  footer {
    grid-column: 1 / -1;
  }

  footer {
    padding-inline: var(--padding);
  }
}