header.filters {
  font-family: var(--body-font);
  padding-inline: var(--padding);

  a {
    font-size: var(--text-size-s);
    cursor: pointer;
  }
}

[role="list"] {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;
}

[role="listitem"] {
  flex: 1;
  flex-basis: 400px;
}

[role="listitem"]:first-child {
  flex-basis: 728px;
}

.no-data {
  text-align: center;
  display: block;
  margin-inline: auto;
  font-size: var(--text-size-s);
  font-family: var(--body-font);
  font-style: italic;
  padding-block: 4em;
}