[role="list"] {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;
}

[role="listitem"] {
  flex: 1;
  flex-basis: 437px;
}

[role="listitem"]:first-child {
  grid-column: span 2;
  flex-basis: 900px;
}