[role="list"] {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-inline: auto;
}

[role="listitem"] {
  flex: 1;
  flex-basis: 400px;
}

[role="listitem"]:first-child {
  flex-basis: 728px;
}